

<form action="<%= post_comments_path(post) %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="comment-content">
    <textarea name="comment[content]" class="textarea-space"></textarea>
    <button type="submit" value="Submit" class="submit-btn">Post</button>
  </div>

</form>





<!--
            NOT WORKING METHOD
<%# form_with(model: comment) do |form| %>
  <%# if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%# pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:
      </h2>

      <ul>
        <%# comment.errors.each do |error| %>
          <li><%# error.full_message %></li>
        <%# end %>
      </ul>
    </div>
  <%# end %>

  <%# form.hidden_field :post_id %>

  <%# form.label :text, "Text:" %>
  <%# form.text_area :text %>

  <div class="actions">
    <%# form.submit %>
  </div>
<%# end %> -->